.App {
  text-align: center;
  background-color: #282c34;
  height: 1500px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x:hidden;
  /* width: 100%; */
}
