.App-logo {
    height: 50vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  
  
  .homePage-components {
    display: flex;
    align-items: center;
    position: relative;
    top: 180px;
    bottom: auto;
  }
  .btn-content {
    margin-left: 40px;
    
  }

  .nameBlock {
    font-size: 3rem;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .btn-showStatistic {
   line-height: 1.4rem;
   font-size: 1.2rem;
   cursor: pointer;
   padding: 5px;
  }
  