.countryBox {
    border: 2px solid white;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-right: 50px;
}
.CountryPanel {
    display: flex;
    margin: 20px auto 30px;
    justify-content: center;
    width: 80%;
}